p  {
  color: red;
  font-family: 'Averia Serif Libre', cursive;
}


body {background-color:	#ffb3ff;}

.purple-text {color: rgba(0,0,255, .5);}

.important {font-weight: bold;}

.important:hover {background-color: #0000FF;}

a[href="about-me.html"]{background-color: green;}

a[href="index.html"]
{background-color: orange;
  padding: 1rem;
}

.fa-space-shuttle {
  color: blue;
  font-size: 50px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.fa-space-shuttle:hover {
visibility: hidden;
}


h1 {
  color: red;
  border-style: dotted;
  border-width:2px;
  border-color: gray;
  font-family: 'Bangers', cursive;
}

h2 {
  color: #FF00FF;
  border-style: double;
  border-width:1px;
  border-color: red;
  font-family: 'Bangers', cursive;
}

p.important {
  width: 50%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.important:hover{
  background-color: yellow;
}

img.i {
  border-style: double;
  border-color: blue;
  border-width: 3px;
  width: 20%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.i:hover{
  height: 200px;
  border-radius: 50%;
}

.par-text {
  color: green;
  outline: 3px dotted green;
}

#quoting {
  quotes: "<<" ">>";
}

footer.centro {
  text-align: center;
}

img.i{
  vertical-align: middle;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
